@model List<ReservationDTO>
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Rezervasyon Talepleri</h3>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Datatable -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <form id="confirmationForm" asp-controller="Admin" asp-action="Confirmation" method="post">
                                <input type="hidden" id="confirmationStatus" name="confirmationStatus" />
                                <table class="datatable table table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Müşteri Adı Soyadı</th>
                                            <th>Rezervasyon Tarihi</th>
                                            <th>Rezervasyon Saati</th>
                                            <th>Kişi Sayısı</th>
                                            <th>İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Confirmation == null)
                                            {
                                                <tr>
                                                    <td>@item.AppUser.Name @item.AppUser.Surname</td>
                                                    <td>@item.DateTime.ToString("yyyy-MM-dd")</td>
                                                    <td>@item.DateTime.ToString("HH:mm")</td>
                                                    <td>@item.NumberofPeople</td>
                                                    <td>
                                                        <input type="hidden" name="confirmationStatus" id="confirmationStatus_@item.AppUser.Id" />

                                                        <!-- Düğmeleri onclick ile submit işlemi yapacak şekilde düzenleyin -->
                                                        <button type="button" class="btn btn-success btn-disable" onclick="setConfirmation(true, '@item.AppUser.Id','@item.Id')">Onayla</button>
                                                        <button type="button" class="btn btn-disable" onclick="setConfirmation(false, '@item.AppUser.Id','@item.Id')">Reddet</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <input type="hidden" name="rezerveID2" id="rezerveID2" />
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /Datatable -->

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Rezervasyon Geçmişi</h3>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Datatable -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <input type="hidden" id="confirmationStatus" name="confirmationStatus" />
                            <table class="datatable table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Müşteri Adı Soyadı</th>
                                        <th>Rezervasyon Tarihi</th>
                                        <th>Rezervasyon Saati</th>
                                        <th>Kişi Sayısı</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if(item.Confirmation!=null)
                                        {
                                            <tr>
                                                <td>@item.AppUser.Name @item.AppUser.Surname</td>
                                                <td>@item.DateTime.ToString("yyyy-MM-dd")</td>
                                                <td>@item.DateTime.ToString("HH:mm")</td>
                                                <td>@item.NumberofPeople</td>
                                                
                                                    @{
                                                        if (item.Confirmation.ToString() == "True")
                                                        {
                                                        <td>
                                                        Onaylandı
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            Reddedildi
                                                        </td>
                                                    }
                                                }
                                                    
                                                   @*  @((item.Confirmation.ToString() == "true") ? Onaylandı : @Reddedildi) *@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->

<script>
    function setConfirmation(status, userId, rezerveID) {
        document.getElementById('confirmationStatus').value = status;
        document.getElementById('rezerveID2').value = rezerveID;

        // Formu güncellenmiş değerlerle gönder
        document.getElementById('confirmationForm').submit();
    }
</script>


 