@model List<ReservationDTO>
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Rezervasyon Talepleri</h3>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Datatable -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <form asp-controller="Admin" asp-action="Confirmation" method="post">
                                <input type="hidden" id="confirmationStatus" name="confirmationStatus" />
                                <table class="datatable table table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Müşteri Adı Soyadı</th>
                                            <th>Rezervasyon Tarihi</th>
                                            <th>Rezervasyon Saati</th>
                                            <th>Kişi Sayısı</th>
                                            <th>İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <input type="hidden" name="userId" value="@item.AppUser.Id" />
                                            <tr>
                                                <td>@item.AppUser.Name @item.AppUser.Surname</td>
                                                <td>@item.DateTime.ToString("yyyy-MM-dd")</td>
                                                <td>@item.DateTime.ToString("HH:mm")</td>
                                                <td>@item.NumberofPeople</td>
                                                <td>

                                                    <button type="submit" class="btn btn-success btn-disable" onclick="setConfirmation(true, '@item.AppUser.Id')">Approve</button>
                                                    <button type="submit" class="btn btn-disable" onclick="setConfirmation(false, '@item.AppUser.Id')">Reject</button>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Datatable -->

    </div>
</div>
<!-- /Page Wrapper -->

<script>
    function setConfirmation(status, userId) {
        document.getElementById('confirmationStatus').value = status;
        document.getElementsByName('userId').value = userId;

        document.forms[0].submit();
    }
</script>


