@model MenuPartViewModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_PizzaLayout.cshtml";
}

<!-- Menu Pricing -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">İmza Pizzalarımız</h2>
                <p>Ustalarımızın özenle hazırladığı, kaliteli malzemelerle zenginleşen lezzet şöleni...</p>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row no-gutters d-flex">

            @foreach (var item in Model.Pizzas.Take(6))
            {

                <div class="col-lg-4 d-flex ftco-animate">
                    <div class="services-wrap d-flex">
                        <a href="#" class="img" style="background-image: url(@item.PhotoLink);"></a>
                        <div class="text p-4">
                            <h3>@item.Name</h3>
                            <p>@item.Description </p>
                            <p class="price"><span>@item.Price</span>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">MENÜ</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <p class="mt-5">Taze sebzeler, özel soslar ve enfes peynirlerle buluşan bu eşsiz tatları denemek için sizi bekliyoruz. Geleneksel lezzetlere modern bir dokunuş...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5 style="color: #FAC564"><i>PİZZA</i></h5>
                @foreach (var pizza in Model.Pizzas)
                {
                    <div class="pricing-entry d-flex ftco-animate">
                        <div class="img" style="background-image: url(@pizza.PhotoLink);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>@pizza.Name</span></h3>
                                <span class="price">@pizza.Price ₺</span>
                            </div>
                            <div class="d-block">
                                <p>@pizza.Description</p>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="col-md-6">
                <h5 style="color: #FAC564"><i>MAKARNA</i></h5>
                @foreach (var pasta in Model.Pastas)
                {
                    <div class="pricing-entry d-flex ftco-animate">
                        <div class="img" style="background-image: url(@pasta.PhotoLink);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>@pasta.Name</span></h3>
                                <span class="price">@pasta.Price ₺</span>
                            </div>
                            <div class="d-block">
                                <p>@pasta.Description</p>
                            </div>
                        </div>
                    </div>
                }
                <h5 style="color: #FAC564"><i>BURGER</i></h5>
                @foreach (var burger in Model.Burgers)
                {
                    <div class="pricing-entry d-flex ftco-animate">
                        <div class="img" style="background-image: url(@burger.PhotoLink);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>@burger.Name</span></h3>
                                <span class="price">@burger.Price ₺</span>
                            </div>
                            <div class="d-block">
                                <p>@burger.Description</p>
                            </div>
                        </div>
                    </div>
                }

                <h5 style="color: #FAC564"><i>İÇECEKLER</i></h5>
                @foreach (var drink in Model.Drinks)
                {
                    <div class="pricing-entry d-flex ftco-animate">
                        <div class="img" style="background-image: url(@drink.PhotoLink);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>@drink.Name</span></h3>
                                <span class="price">@drink.Price ₺</span>
                            </div>
                            <div class="d-block">
                                <p>@drink.Description</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</section>

<section class="ftco-menu">
    <div class="container-fluid">

        <div class="row d-md-flex">
            <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url(https://www.tam1catering.com/upload/tam1catering-hizmetlerimiz-kafeterya-hizmetleri-001.jpg);">
            </div>
            <div class="col-lg-8 ftco-animate p-md-5">
                <h3 style="color: #FAC564">Şefin Tavsiyeleri</h3><br />
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-pizza" role="tab" aria-controls="v-pills-1" aria-selected="true">Pizza</a>

                            <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-pasta" role="tab" aria-controls="v-pills-2" aria-selected="false">Pasta</a>

                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-burger" role="tab" aria-controls="v-pills-3" aria-selected="false">Burgers</a>

                            <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-drink" role="tab" aria-controls="v-pills-4" aria-selected="false">Drinks</a>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            <div class="tab-pane fade show active" id="v-pills-pizza" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                <div class="row">
                                    @foreach (var pizza in Model.Pizzas.Take(3))
                                    {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(@pizza.PhotoLink);"></a>
                                                <div class="text">
                                                    <h3><a href="#">@pizza.Name</a></h3>
                                                    <p>@pizza.Description</p>
                                                    <p class="price"><span>@pizza.Price</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-pasta" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                <div class="row">
                                    @foreach (var pasta in Model.Pastas.Take(3))
                                    {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(@pasta.PhotoLink);"></a>
                                                <div class="text">
                                                    <h3><a href="#">@pasta.Name</a></h3>
                                                    <p>@pasta.Description</p>
                                                    <p class="price"><span>@pasta.Price</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-burger" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                <div class="row">
                                    @foreach (var burger in Model.Burgers.Take(3))
                                    {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(@burger.PhotoLink);"></a>
                                                <div class="text">
                                                    <h3><a href="#">@burger.Name</a></h3>
                                                    <p>@burger.Description</p>
                                                    <p class="price"><span>@burger.Price</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-drink" role="tabpanel" aria-labelledby="v-pills-4-tab">
                                <div class="row">
                                        @foreach (var drinks in Model.Drinks.Take(3))
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url(@drinks.PhotoLink);"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@drinks.Name</a></h3>
                                                        <p>@drinks.Description</p>
                                                        <p class="price"><span>@drinks.Price</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
